header{
    background-color: aqua;
}
#logo{
    width: 200px;
}
#pattern{
    width: 500px;
    background-repeat: repeat-y;
}

#sott{
    color: gray;
}
#sottsott{
    font-size: x-small;
    color: gray;
}
#Azzur{
    color: rgb(10, 153, 209);
}
.evidenziato{
    background: yellow;
}
#pub1{
    background-image: url("../img/monitor.jpg");
    background-size: 120px;
}
#pub2{
    background-image: url("../img/graph.jpg");
    background-size: 120px;
}
