header{
    background-color: aqua;
}
#partesopra{
    background-image:  url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: 200px;
}
#logo{
    width: 200px;
}

#sott{
    color: gray;
}
#sottsott{
    font-size: x-small;
    color: gray;
}
table{
    width: 100%;
    border-collapse: collapse;
}
#TitTab{
    background-color: rgb(13, 118, 150);
}
#Col1{
    background-color: rgb(33, 228, 235);
}
#Col2{
    background-color: white;
}
#Azzur{
    color: rgb(10, 153, 209);
}
.evidenziato{
    background: yellow;
}
#pub1{
    text-align: center;
    background-image: url("../img/monitor.jpg");
    width: 310px;
    height: 208px;
    color: white;
}
#pub2{
    text-align: center;
    background-image: url("../img/graph.jpg");
    width: 311px;
    height: 208px;
    color: white;
}
